*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ruda', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.inside{
    background-color: #6c757d;
}

.house-dreams{
    background-image: url(../images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.pad{
    padding: 8% 0px;
}

.blog::after{
    content: "";
    display: block;
    background-color: green;
    width: 22rem;
    height: 0.2rem;
}

.quote{
    padding: 17% 4rem;
    font-size: 1.5rem;
}

.quote::before{
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-weight: 900;
}

.person{
    padding-left: 51%;
    padding-top: 5%;
}

.foot a{
    text-decoration: none;
}

.rights{
    margin-left: 35%;
}

@media only screen and (max-width : 540px){

    .pad{
        padding: 20% 6%;
    }

    .blog-title{
        margin-left: -1rem;
    }

    .blog{
        font-size: 1.5rem;
        padding-top: 4%;
    }

    .blog::after{
        content: "";
        display: block;
        background-color: green;
        height: 0.2rem;
        width: 19rem;
    }

    .testimonials{
        margin-top: 2rem;
    }

    .rights{
        margin-left: 13%;
    }

    .foot-link{
        padding-bottom: 1rem ;
    }

    .drop-color{
        background-color: #6c757d;
    }

    .drop-item{
        color: white;
    }
}

@media only screen and (min-width : 1000px){

    .inside{
        position: absolute;
        z-index: 1;
        background-color: transparent;
    }
    
}